// !!!!!! PRODUCT HUNT-TYPE LIST !!!!!!

.product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  background: white;
  transition: all 0.15s ease;
  margin-bottom: 10px;
  a {
    text-decoration: none;
  }
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.product-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}
.buttons a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Hover effects */
.product:hover {
  background: #B5FFC1;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }

// !!!!!! TABS !!!!!!

.tabs {
  background: #999999;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
  text-decoration: none;
}

.tabs a:active {
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
  color: #333333;
  font-weight: bold;
}
.tab {
  background: #B5FFC1;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: #F4F4F4;
  color: black;
}

.user-content {
  background: #F6F6F6;
  padding: 25px;
  .row {
    margin: 0;
  }
}

.user-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.host_content {
  background: #F4F4F4;
  padding: 30px;
  h3 {
    margin-top: 0px;
  }
}

.player_content {
  background: #F4F4F4;
  padding: 30px;
  h3 {
    margin-top: 0px;
  }
}

.only_player_content {
  background: #F4F4F4;
  padding: 30px;
  min-height: 371px;
  h3 {
    margin-top: 0px;
  }
}

.only_host_content {
  background: #F4F4F4;
  padding: 30px;
  min-height: 371px;
  h3 {
    margin-top: 0px;
  }
}

.game-container {
width: 100%;
padding: 0px;
}

.status-accepted {
  color: white;
  background: #4CAF62;
  padding: 10px;
  position: absolute;
  right: 15px;
  bottom: 25px;
}

.status-pending {
  color: white;
  background: #E19646;
  padding: 10px;
  position: absolute;
  right: 15px;
  bottom: 25px;
}

.status-declined {
  color: white;
  background: #E13419;
  padding: 10px;
  position: absolute;
  right: 15px;
  bottom: 25px;
}
